{% extends 'base.html' %} {% block head %}
<title>Registration</title>
{% endblock %} {% block body %}
<div class="content">
  <h1 style="text-align: center">Registration</h1>
  <h4 style="text-align: center">Insert your name and a valid email address</h4>
  <form method="POST" action="">
    Name <input type="text" name="name" />
    <br />
    Email <input type="email" name="email" />
    <br />
    <input type="submit" />
    <br />
    <br />
    <a href="/users">Show registered users</a>
  </form>
</div>
{% endblock %}
